page {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  font-size: $font-size-md;
  color: $color-text-primary;
  background-color: $color-bg-page;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

view, text, scroll-view, swiper, swiper-item, image {
  box-sizing: border-box;
}

image {
  display: block;
  width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  &::after {
    border: none;
  }
}
